<div class="container portfolio">

	<div class="row">

		<div class="col col-lg-4 col-sm-6 col-xs-12">
			<figure>
				<img class="img-responsive" src="img/img4.jpg" alt="wind" />
				<figcaption>Wind Mill</figcaption>
			</figure>
		</div>
		<div class="col col-lg-4 col-sm-6 col-xs-12">
			<figure>
				<img class="img-responsive" src="img/img5.jpg" alt="hydro" />
				<figcaption>Hydro Generators</figcaption>
			</figure>
		</div>
		<div class="col col-lg-4 col-sm-6 col-xs-12">
			<figure>
				<img class="img-responsive" src="img/img6.jpg" alt="nuclear" />
				<figcaption>Nuclear Resources</figcaption>
			</figure>
		</div>
		<div class="col col-lg-4 col-sm-6 col-xs-12">
			<figure>
				<img class="img-responsive" src="img/img7.jpg" alt="greenhouse" />
				<figcaption>Green Houses</figcaption>
			</figure>
		</div>
		<div class="col col-lg-4 col-sm-6 col-xs-12">
			<figure>
				<img class="img-responsive" src="img/img8.jpg" alt="centers" />
				<figcaption>Research Centers</figcaption>
			</figure>
		</div>
		<div class="col col-lg-4 col-sm-6 col-xs-12">
			<figure>
				<img class="img-responsive" src="img/img9.jpg" alt="solar" />
				<figcaption>Solar Generators</figcaption>
			</figure>
		</div>
	</div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>